{% extends 'base.html' %}

{% block content %}
<h2>새 포스트 작성</h2>
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="pk-title">제목</label>
        <input id="pk-title" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="pk-text">내용</label>
        <textarea name='text' id="pk-text" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary btn-block" type="submit">작성</button>
</form>
{% endblock %}